$primary: #324b8e;

$color: #333;
$background: #eee;

$dark-color: #eee;
$dark-background: #111;

$text-l: 48;
$text-hl: 24;
$text-m: 18;
$text-s: 12;

$weight-bold: 700;
$weight-regular: 400;
$weight-thin: 200;

$space-l: 48;
$space-m: 24;
$space-s: 12;
$space-xs: 8;
$space-hs: 6;

$round-m: 8;
$round-s: 4;

